@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@700&family=Space+Mono:wght@400;700&display=swap');

.App{
  background:black;
  font-family: 'Space Mono', monospace;
  height: 100%;
}


.top-main-section{
  width: 52%;
  margin-top: 5%;
  min-height: 550px;
}
.repeat-style-bg-of-inner{
  background-repeat: no-repeat;
    background-position: center;
    background-size: 900px 650px;
    background-position-y: 27%;
    background-position-x: 50%;
    background-origin: padding-box;
}
.bg-green-top{
  
}
.chevron-down1{
  color: #FFFFFF;
  background: #FFFFFF;
  height: 10px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 24px;
  position: absolute;
  bottom: -5px;
  left: 50%;
}


.top-main-section h1{
  font-size: 41px;
    font-family: 'Space Mono', monospace;
    color: #F2FFF2;
    font-weight: 700;
    margin-top: 15%;
    margin-bottom: 27px;
}
.top-main-section p.web3-jobs{
  color:#2FC135;
  font-family: 'Podkova', serif;
  font-size: 23px;

}
.top-main-section p{

}
.top-main-section p.little-text{
  font-size: 15px;
  font-family: 'Space Mono', monospace;
  color: #F2FFF2;
  font-weight: 300;
  margin-bottom: 50px
}
.top-main-section .two-buttons{

}
.top-main-section .two-buttons button:first-child{
  font-size: 18px;
  font-family: 'Space Mono', monospace;
  color: #C8FFCA;
  font-weight: 300;
  border: 1px solid #2FC135;
  border-radius: 2px;
  margin-right: 29px;
  padding: 10px 25px
}
.top-main-section .two-buttons button.btn2{
  font-size: 18px;
  font-family: 'Space Mono', monospace;
  color: #F2FFF2;
  font-weight: 300;
  background-color: #2FC135;
  border-radius: 2px;
  padding: 10px 35px
}

.tags-button{
  font-family: 'Space Mono', monospace;
  width: 84%;
  display: -webkit-inline-box;
    text-align: center;
    margin-bottom: 20px;
}
.tags-buttons-selected button{
  font-family: 'Space Mono', monospace;
  border: 1px solid #FFFFFF;
  color: #FFFFFF!important;
  font-size: 14px;
  margin-left: 8px;
  margin-top:5px;
  padding:2px 7px;
  border-radius: 1px;
}
.location{
  width: 24%;
}


.tags-button  button{
  color:#A7A299!important;
  border: 1px solid #A7A299;
  margin:5px 5px;
  border-radius: 0px;
  padding: 2px 7px;
  font-size: 13px
}
.tabledata-padding{
  padding-left:8%!important;
  padding-right: 9%!important;
  margin-top: 5%!important;
}
.tabledata-padding h4{
  color:#2FC135;
  font-family: 'Space Mono', monospace;
  font-size: 20px;

}
.tabledata-padding .row{ 
  margin-top: 3%!important;
  margin-bottom: 0%!important;
}
.tabledata-padding p{
  color:#FFFFFF;
  font-family: 'Space Mono', monospace;
  margin-bottom: 0px;
}

.location p{
  font-size: 14px;
}

.desifg p{
  color:#FFFFFF;
  font-family: 'Space Mono', monospace;
}
.logo img{
  width: 65px;
  height: 65px;
  margin-top: -10px;
}
.desifg{
  margin-left: 25px;  
}
.apply-btn button{
  background-color: #2FC135;
  color:#FFFFFF!important;
  border-radius: 1px;
}
.apply-btn button a{
  color:#FFFFFF!important;
  border-radius: 1px;
  text-decoration: none;
}


.bottomsection-padding{
  padding-left:7%!important;
  padding-right: 7%!important;
  margin-top: 5%!important;
  min-height: 500px;
}

.bottomsection-padding .row{
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 80%;

}



.bottomsection-padding .two-buttons button:first-child{
  font-size: 18px;
  font-family: 'Space Mono', monospace;
  color: #C8FFCA;
  font-weight: 300;
  border: 1px solid #2FC135;
  border-radius: 2px;
  margin-right: 29px;
  padding: 10px 25px
}
.bottomsection-padding .two-buttons button:nth-child(2){
  font-size: 18px;
  font-family: 'Space Mono', monospace;
  color: #F2FFF2;
  font-weight: 300;
  background-color: #2FC135;
  border-radius: 2px;
  padding: 10px 35px
}
.other-img{
  position: absolute;
  right: 7%;
  top: 50px;
  opacity: 0.4;
}
.copyright-section{
  margin-top: 20%;

}
.copyright-section p{
  text-align: center;
  color: #A7A299;
  font-family: 'Space Mono', monospace;
}

.client-speaks{
  color:#FFFFFF;
  font-family: 'Space Mono', monospace;

  font-weight: 700;
  margin: 90px 0px 50px 100px;
}

.white-section {
  background-color: #FFFFFF;
  padding: 36px 48px;
  width: 44%;
  border-radius: 15px;
  position: relative;
}
.white-section h5
{
     text-align: center;
     margin-bottom: 30px;
}
.white-section p{
  text-align: center;margin-bottom: 0px;
}

.file-photo-section{
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 5%;
  color:#FFFFFF;
  gap: 30px;
}

.formcompo label{
  color:#FAFAF9;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}
h3.form-header{
  font-family: 'Space Mono', monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color:#FFFFFF;
  margin-top: 20px;
  margin-bottom: 50px;
}
.formcompo select option{
  background-color: black;
  padding: 15px 15px;
}
.formcompo input,.formcompo select{
  background-color: transparent;
    padding: 14px 14px;
    margin: 7px 0 39px 0;
    border: 1px solid grey;
    color:#FFFFFF;
}
.salary-range input{
  width: 100px;
}
.less-opc{
  opacity: 0.5;
}













.main1:first-child{
  margin-top: 15px;
}
.main1 {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 20px;
  margin: 8px 0px;
}

.main1  input[type=checkbox] {
  display: none;
}

.main1 .geekmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: black;
  border:1px solid grey;
}


.main1:hover input ~ .geekmark {
  background-color: transparent;
}

.main1 input:active ~ .geekmark {
  background-color: transparent;
}

.main1 input:checked ~ .geekmark {
  background-color: #2FC135;
}
.main1 .geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

.main1 input:checked ~ .geekmark:after {
  display: block;
}
.main1 .geekmark:after {
  left: 7px;
    bottom: 5px;
    width: 7px;
    height: 14px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate( 
45deg);
}














.roles input[type='radio'] {
  -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    border: 3px solid gray;
    margin: 0px;
    padding: 10px;  
    position: relative;
}

.roles input[type='radio']:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  right: 3px;
    bottom: 4px;
}

.roles input[type="radio"]:checked:before {
  background: #2FC135;
  
}

.roles input[type="radio"]:checked {
border-color:#2FC135;
}

.roles .role {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: normal;
}

.roles .checkbox label {
  margin-bottom: 20px !important;
}

.roles {
  
  margin-bottom: 15px;
  display: flex;
    align-items: center;
}



.texarea-postjob{
  background: transparent;
  height: 200px;
  margin-bottom: 22px;
  padding: 8px;
}
.post-job-btn a{
  color: inherit!important;
  text-decoration: none;
  
}
.post-job-btn{
  font-size: 18px;
  font-family: 'Space Mono', monospace;
  color: #F2FFF2;
  font-weight: 300;
  background-color: #2FC135;
  border-radius: 2px;
  padding: 10px 35px;
  width:180px;
}
.extra-margins{
  margin-top: 250px !important;;
}

.tabledata-padding a{
text-decoration: none;
}
.jobdesc{
  width: 100%;
  margin-top: 5%;
  min-height: 350px;
}
.jobdesc p.web3-jobs{
  color:#2FC135;
  font-family: 'Podkova', serif;
  font-size: 23px;

}
.jobdesc h1{
  font-size: 41px;
    font-family: 'Space Mono', monospace;
    color: #F2FFF2;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 27px;
    width:50%;
}

.jobdesc-details label{
  color: #FFFFFF;
  opacity: 0.7;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 18px;
    margin-bottom: 7px;
}
.jobdesc-details p, .jobdesc-details ul{
  color: #FFFFFF;
  font-size: 18px;

  font-family: 'Space Mono', monospace;
}
.jobdesc-details  .padding-col-6{
  padding-left:50px;
}
.jobdesc-details  .padding-col-6-first{
  padding-right:50px;
}